<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniversalLib copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UniversalLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UniversalLib2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>template copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>template-Production.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>template-Staging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D4704A21DDA089E00C4B541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D75F7591DDA08EF006B8BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D75F75E1DDA0982006B8BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D75F7651DDA0AA4006B8BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D75F76A1DDA0AAA006B8BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D75F7BB1DDA0C0F006B8BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAC04951A695923004805CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
